:root {
  --primary-color: rgb(22, 80, 123);
  --secondary-color: rgb(36, 135, 206);
}

body {
  background-color: rgba(255, 255, 255, 0.8);
}

.text-primary {
  color: var(--secondary-color) !important;
}

.btn-primary {
  background-color: var(--secondary-color);
  font-size: 0.5rem;
}

.btn-primary:hover {
  background-color: var(--secondary-color);
  opacity: 0.8;
}

.bg-primary {
  background-color: var(--secondary-color) !important;
}

h2,
h4 {
  color: rgb(18, 66, 101);
  font-family: "Poppins", sans-serif;
}

.btn-outline-primary {
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  font-family: "Raleway", sans-serif;
  font-size: 0.5rem;
}

h4 {
  font-size: 1rem;
}

p {
  font-size: 0.6rem;
}

h2,
h1 {
  font-size: 1rem;
}

/* Section: Navbar */
.nav {
  border-bottom: 1px solid #e6f2fb;
}

nav .navbar-brand {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: var(--primary-color) !important;
}

.nav-item a {
  font-size: 0.875rem;
  color: var(--primary-color) !important;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

.nav-item a:hover {
  color: var(--secondary-color) !important;
}

.active a {
  color: var(--secondary-color) !important;
}

.form-inline .btn-primary {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/* Section: Hero */
.hero .container {
  max-width: 250px;
}

.hero .container h1 {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  color: rgb(18, 66, 101);
}
.hero .container h2 {
  color: rgb(94, 94, 94);
  font-weight: 500;
  font-size: 0.7rem;
  font-family: "Raleway", sans-serif;
}

/* Section: Features */
.features .row .card {
  transition: 0.3s ease-in-out;
}
.features .row .card:hover {
  transform: scale(1.1);
}

/* Section: Clients  */
.clients-img {
  filter: grayscale();
  max-width: 45%;
}

/* Section: Testimonials */
.carousel-inner {
  overflow: visible;
}

.carousel-indicators li {
  height: 10px;
  width: 10px;
  background: none;
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
}

.carousel-indicators li.active {
  background-color: var(--secondary-color);
}

.block-quote {
  max-width: 300px;
  position: relative;
  background-color: var(--secondary-color);
}

.triangle {
  width: 0;
  height: 0;
  border-left: 23px solid transparent;
  border-right: 23px solid transparent;
  border-top: 29px solid var(--secondary-color);
  position: absolute;
  bottom: -28px;
  left: 40%;
}

.testimonial-img {
  height: 100px;
}

/* Section: Portfolio */
.nav-link.active {
  background: none !important;
  color: var(--secondary-color) !important;
  font-weight: bold;
}
.portfolio-5,
.portfolio-9 {
  margin-top: -2rem;
}
.portfolio-4 {
  margin-top: -4rem;
}
.portfolio-7 {
  margin-top: -11.5rem;
}

.portfolio-8 {
  margin-top: -10.5rem;
}

/* Section: Pricing */
.dollar-sign {
  color: red !important;
}

/* Section: FAQ */
.card-header {
  position: relative;
  width: 100%;
}

.down-arrow {
  position: absolute;
  right: 2%;
  top: 40%;
}
/* Section: Contact */
.contact-p {
  font-size: 12px;
}
